 <html>
    <head>
        <title>BOOK SEARCH - FAQ</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1><a href="{{ url_for('form') }}" style="color:#000000;">BOOK SEARCH</a><span style="float:right;"><a href="{{ url_for('faq') }}" target="_blank">FAQ</a> - <a href="https://github.com/jbgraindorge/jbooker" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
  <svg aria-hidden="true" height="32" version="1.1" viewBox="0 0 16 16" width="32" style="margin-top:5px;" target="_blank"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>
</a></a></span></h1>

            </div>
<div>
#########################<br/>
######## FRENCH #########<br/>
#########################<br/>
<p>Cette application permet de chercher des informations et des prix concernant un livre</p>
<li>Entrez un ISBN-10/13 ou des informations (même partielles) concernant l'ouvrage recherché puis cliquer sur "Valider"</li>
<li>Pour un résultat optimal entrez au moins : un mot du titre , un nom d'auteur. L'année et l'éditeur permettent de filtrer plus précisemment les résultats (surtout des livres sans ISBN)</li>
<li>Le script effectue une première recherche (Titre, Auteur, Année, Éditeur, ISBN si applicable) et restitue les informations</li>
<li>Si la recherche n'arrive pas à filtrer précisement, le script peut générer une erreur, il est conseillé de préciser la recherche</li>
<li>Vous avez le choix entre modifier ces informations, et relancer une recherche d'informations, ou lancer une recherche de prix.</li>
<li>Pour lancer une recherche de prix, cochez simplement la case "ALL" qui effectuera une recherche de prix "globale" sur toutes les sources.</li>
<li>Si vous souhaitez rechercher sur un site en particulier, cochez la case lui correspondant. (Attention fonctions non dispo)</li>
    </div>
            <!--<div id="results">
              {% if toomuch %}
              I'M SORRY BUT I THERE IS TOO MUCH RESULTS
              {% endif %}
              {% if zeroeverywhere %}
              I'M SORRY BUT I CAN'T FIND ANY INFO PLEASE TRY AGAIN
              {% endif %}
              {% if titre %}
              It looks like you're searching for this title : <strong>{{titre}}</strong> <br />
              {% endif %}
              {% if auteur %}
              Written by : <strong>{{auteur}}</strong> <br />
              {% endif %}
              {% if editeur %}
              And published by : <strong>{{editeur}}</strong> <br />
              {% endif %}
              {% if annee %}
              Date : <strong>{{annee}}</strong> <br />
              {% endif %}
              {% if isbn10 or isbn13 %}
              ISBN10 IS <strong>{{isbn10}}</strong> <br />
              ISBN13 is <strong>{{isbn13}}</strong><br />
              {% endif %}
              {% if booktry %}
              AMAZON PRICES <strong>{{az_prices}}</strong> <br />
              PRICEMINISTER PRICES <strong>{{pm_prices}}</strong> <br />
              EBAY PRICES <strong>{{eb_prices}}</strong> <br />
              ABEBOOK PRICES <strong>{{ab_prices}}</strong> <br />
              LBC PRICES <strong>{{lb_prices}}</strong> <br />
                {% endif %}
              </div>
                <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  {% if isbn10 or isbn13 or titre and auteur and editeur and annee %}
                  <label for="search_type">Launch this search on :</label>
                  <div style="width:80%;margin-left:10%;">
                  <input type="checkbox" name="all" value="all" /><span style="margin-left:10px;">ALL</span>
                  <input type="checkbox" name="amazon" value="amazon" /><span style="margin-left:10px;">Amazon</span>
                  <input type="checkbox" name="abebook" value="abebook" /><span style="margin-left:10px;">AbeBook</span>
                  <input type="checkbox" name="ebay" value="ebay" /><span style="margin-left:10px;">Ebay</span>
                  <input type="checkbox" name="priceminister" value="priceminister" /><span style="margin-left:10px;">Priceminister</span>
                  <input type="checkbox" name="leboncoin" value="leboncoin" /><span style="margin-left:10px;">LeBonCoin</span>
                  </div>
                  {% endif %}
                  <label for="isbn">ISBN 10:</label><input type="number" name="isbn10" value="{{isbn10}}" />
                  <label for="isbn">ISBN 13:</label><input type="text" name="isbn13" value="{{isbn13}}" />
                  <label for="auteur">Auteur:</label><input type="text" name="auteur" value="{{auteur}}" />
                  <label for="titre">Titre:</label><input type="text" name="titre" value="{{titre}}" />
                  <label for="editeur">Editeur:</label><input type="text" name="editeur" value="{{editeur}}" />
                  <label for="annee">Annee:</label><input type="number" name="annee" value="{{annee}}" />
                  <br /><input type="submit" name="search" />
                </form>
              </div>
            </div>
              {% if lbc_rez %}
              WE HAVE LBC REZ
              {% for item in lbc_rez %}
              <li>{{ item[0] }}&euro; - <a href="http:{{ item[1] }}">{{ item[2] }}</a></li>
              {% endfor %}
              {% endif %}
              {% if amazon_irez %}
              WE HAVE AMAZON IREZ
              {% for item in amazon_irez %}
              <li>{{ item[0] }}&euro; - <a href="http:{{ item[1] }}">{{ item[2] }}</a></li>
              {% endfor %}
              {% endif %}

         </div>-->
       </div>
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    </body>
</html>
