 <html>
    <head>
        <title>BOOK SEARCH</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1><a href="{{ url_for('form') }}" style="color:#000000;">BOOK SEARCH</a><span style="float:right;"><a href="{{ url_for('faq') }}" target="_blank">FAQ</a></span></h1>

            </div>
            <div id="results">
              {% if toomuch %}
              I'M SORRY BUT I THERE IS TOO MUCH RESULTS
              {% endif %}
              {% if zeroeverywhere %}
              I'M SORRY BUT I CAN'T FIND ANY INFO PLEASE TRY AGAIN
              {% endif %}
              {% if titre %}
              It looks like you're searching for this title : <strong>{{titre}}</strong> <br />
              {% endif %}
              {% if auteur %}
              Written by : <strong>{{auteur}}</strong> <br />
              {% endif %}
              {% if editeur %}
              And published by : <strong>{{editeur}}</strong> <br />
              {% endif %}
              {% if annee %}
              Date : <strong>{{annee}}</strong> <br />
              {% endif %}
              {% if isbn10 or isbn13 %}
              ISBN10 IS <strong>{{isbn10}}</strong> <br />
              ISBN13 is <strong>{{isbn13}}</strong><br />
              {% endif %}
              {% if booktry %}
              AMAZON PRICES <strong>{{az_prices}}</strong> <br />
              PRICEMINISTER PRICES <strong>{{pm_prices}}</strong> <br />
              EBAY PRICES <strong>{{eb_prices}}</strong> <br />
              ABEBOOK PRICES <strong>{{ab_prices}}</strong> <br />
              LBC PRICES <strong>{{lb_prices}}</strong> <br />
                {% endif %}
              </div>
                <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  {% if isbn10 or isbn13 or titre and auteur and editeur and annee %}
                  <label for="search_type">Launch this search on :</label>
                  <div style="width:80%;margin-left:10%;">
                  <input type="checkbox" name="all" value="all" /><span style="margin-left:10px;">ALL</span>
                  <input type="checkbox" name="amazon" value="amazon" /><span style="margin-left:10px;">Amazon</span>
                  <input type="checkbox" name="abebook" value="abebook" /><span style="margin-left:10px;">AbeBook</span>
                  <input type="checkbox" name="ebay" value="ebay" /><span style="margin-left:10px;">Ebay</span>
                  <input type="checkbox" name="priceminister" value="priceminister" /><span style="margin-left:10px;">Priceminister</span>
                  <input type="checkbox" name="leboncoin" value="leboncoin" /><span style="margin-left:10px;">LeBonCoin</span>
                  </div>
                  {% endif %}
                  <label for="isbn">ISBN 10:</label><input type="number" name="isbn10" value="{{isbn10}}" />
                  <label for="isbn">ISBN 13:</label><input type="text" name="isbn13" value="{{isbn13}}" />
                  <label for="auteur">Auteur:</label><input type="text" name="auteur" value="{{auteur}}" />
                  <label for="titre">Titre:</label><input type="text" name="titre" value="{{titre}}" />
                  <label for="editeur">Editeur:</label><input type="text" name="editeur" value="{{editeur}}" />
                  <label for="annee">Annee:</label><input type="number" name="annee" value="{{annee}}" />
                  <br /><input type="submit" name="search" />
                </form>
              </div>
            </div>
              {% if lbc_rez %}
              WE HAVE LBC REZ
              {% for item in lbc_rez %}
              <li>{{ item[0] }}&euro; - <a href="http:{{ item[1] }}">{{ item[2] }}</a></li>
              {% endfor %}
              {% endif %}
              {% if amazon_irez %}
              WE HAVE AMAZON IREZ
              {% for item in amazon_irez %}
              <li>{{ item[0] }}&euro; - <a href="http:{{ item[1] }}">{{ item[2] }}</a></li>
              {% endfor %}
              {% endif %}

         </div>
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    </body>
</html>
